python-dotenv
cachetools==5.3.2
google-ai-generativelanguage==0.4.0
google-api-python-client==2.111.0
langchain==0.0.350
langchain-community==0.0.3
langchain-core==0.1.1
langchain-google-genai==0.0.4
langsmith==0.0.71
Pillow==10.1.0
python-telegram-bot==20.7
requests==2.31.0
